In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [70]:
# Recargar el archivo con ajustes detectados
try:
    df_DANE = pd.read_csv('/content/BD_DANE_Certificado_Origen.csv', delimiter=';', encoding='utf-8-sig')
    df_DANE_info = df_DANE.info()  # Información general del DataFrame
    df_DANE_head = df_DANE.head()  # Primeras filas para validar
    df_DANE_info, df_DANE_head
except Exception as e:
    str(e)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128084 entries, 0 to 128083
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Partida Aduanera     128084 non-null  int64
 1   Certificado Origen   128084 non-null  object
 2   Departamento_código  128084 non-null  int64
 3   Año                  128084 non-null  int64
 4   Mes#                 128084 non-null  int64
 5   Mes                  128084 non-null  object
dtypes: int64(4), object(2)
memory usage: 5.9+ MB

In [71]:
# Recargar el archivo con ajustes detectados
try:
    df_ica = pd.read_csv('/content/BD_ica_sisfito_PP.csv', delimiter=';', encoding='utf-8-sig')
    df_ica_info = df_ica.info()  # Información general del DataFrame
    ddf_ica_head = df_ica.head()  # Primeras filas para validar
    df_ica_info, df_ica_head
except Exception as e:
    str(e)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4098 entries, 0 to 4097
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nombre del Predio     4098 non-null   object
 1   Departamento          4098 non-null   object
 2   Municipio             4098 non-null   object
 3   Descripcion Especies  4098 non-null   object
 4   Nombre Cientifico     4098 non-null   object
dtypes: object(5)
memory usage: 160.2+ KB

In [72]:
# Recargar el archivo con ajustes detectados
try:
    df = pd.read_csv('/content/BD_exports_veritrade.csv', delimiter=';', encoding='utf-8-sig')
    df_info = df.info()  # Información general del DataFrame
    df_head = df.head()  # Primeras filas para validar
    df_info, df_head
except Exception as e:
    str(e)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551726 entries, 0 to 551725
Data columns (total 11 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Partida Aduanera                    551726 non-null  int64
 1   Descripcion de la Partida Aduanera  551726 non-null  object
 2   Fecha                               551726 non-null  object
 3   Exportador                          551616 non-null  object
 4   Importador                          551723 non-null  object
 5   Kg Neto                             550885 non-null  float64
 6   U$ FOB Tot                          550486 non-null  float64
 7   Pais de Destino                     551726 non-null  object
 8   Via                                 551726 non-null  object
 9   Ciudad del Exportador               551627 non-null  object
 10  Ciudad del Importador               479671 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 46.3+ MB

In [73]:
# Eliminar columnas innecesarias
df = df.drop(['Importador', 'Ciudad del Importador'], axis=1, errors='ignore')

In [74]:
# prompt: df tiene datos duplicados, cuántos? y borrralos y el porcentaje de estos en el df

# Check for duplicates
duplicates = df.duplicated()
num_duplicates = duplicates.sum()
print(f"Number of duplicate rows: {num_duplicates}")

# Calculate the percentage of duplicates
percentage_duplicates = (num_duplicates / len(df)) * 100
print(f"Percentage of duplicate rows: {percentage_duplicates:.2f}%")

# Remove duplicates
df_no_duplicates = df.drop_duplicates()

# Print the shape of the DataFrame before and after removing duplicates
print(f"Shape before removing duplicates: {df.shape}")
print(f"Shape after removing duplicates: {df_no_duplicates.shape}")

df = df_no_duplicates #assign the df without duplicates to df

Number of duplicate rows: 4195
Percentage of duplicate rows: 0.76%
Shape before removing duplicates: (551726, 9)
Shape after removing duplicates: (547531, 9)

In [75]:
# prompt: hay duplicados en el df?

# Check for duplicates in each DataFrame

# df_DANE
duplicates_dane = df_DANE.duplicated()
num_duplicates_dane = duplicates_dane.sum()
print(f"Number of duplicate rows in df_DANE: {num_duplicates_dane}")

# df_ica
duplicates_ica = df_ica.duplicated()
num_duplicates_ica = duplicates_ica.sum()
print(f"Number of duplicate rows in df_ica: {num_duplicates_ica}")

# df
duplicates = df.duplicated()
num_duplicates = duplicates.sum()
print(f"Number of duplicate rows in df: {num_duplicates}")

Number of duplicate rows in df_DANE: 126143
Number of duplicate rows in df_ica: 28
Number of duplicate rows in df: 0

In [76]:
# prompt: hay datos nulos?

# Check for null values in each DataFrame

# df_DANE
null_values_dane = df_DANE.isnull().sum()
print("Null values in df_DANE:\n", null_values_dane)

# df_ica
null_values_ica = df_ica.isnull().sum()
print("\nNull values in df_ica:\n", null_values_ica)

# df
null_values = df.isnull().sum()
print("\nNull values in df:\n", null_values)

Null values in df_DANE:
 Partida Aduanera       0
Certificado Origen     0
Departamento_código    0
Año                    0
Mes#                   0
Mes                    0
dtype: int64

Null values in df_ica:
 Nombre del Predio       0
Departamento            0
Municipio               0
Descripcion Especies    0
Nombre Cientifico       0
dtype: int64

Null values in df:
 Partida Aduanera                         0
Descripcion de la Partida Aduanera       0
Fecha                                    0
Exportador                             110
Kg Neto                                770
U$ FOB Tot                            1102
Pais de Destino                          0
Via                                      0
Ciudad del Exportador                   99
dtype: int64

In [77]:
# prompt: borrar datos nulos en df y comprobar cantidades borradas y porcentajes

# Drop rows with any null values in 'df'
rows_before = len(df)
df_dropped = df.dropna()
rows_after = len(df_dropped)

# Calculate the number and percentage of dropped rows
rows_dropped = rows_before - rows_after
percentage_dropped = (rows_dropped / rows_before) * 100

print(f"Number of rows dropped: {rows_dropped}")
print(f"Percentage of rows dropped: {percentage_dropped:.2f}%")

# Assign the modified DataFrame back to 'df'
df = df_dropped

Number of rows dropped: 2047
Percentage of rows dropped: 0.37%

In [78]:
# prompt: revisemos nuevamente los datos nulos

# Check for null values in each DataFrame after dropping rows

# df_DANE
null_values_dane = df_DANE.isnull().sum()
print("Null values in df_DANE:\n", null_values_dane)

# df_ica
null_values_ica = df_ica.isnull().sum()
print("\nNull values in df_ica:\n", null_values_ica)

# df
null_values = df.isnull().sum()
print("\nNull values in df:\n", null_values)

Null values in df_DANE:
 Partida Aduanera       0
Certificado Origen     0
Departamento_código    0
Año                    0
Mes#                   0
Mes                    0
dtype: int64

Null values in df_ica:
 Nombre del Predio       0
Departamento            0
Municipio               0
Descripcion Especies    0
Nombre Cientifico       0
dtype: int64

Null values in df:
 Partida Aduanera                      0
Descripcion de la Partida Aduanera    0
Fecha                                 0
Exportador                            0
Kg Neto                               0
U$ FOB Tot                            0
Pais de Destino                       0
Via                                   0
Ciudad del Exportador                 0
dtype: int64

In [79]:
# df_DANE
print("Información general de df_DANE:")
df_DANE.info()

# df_ica
print("\nInformación general de df_ica:")
df_ica.info()

# df
print("\nInformación general de df:")
df.info()

Información general de df_DANE:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128084 entries, 0 to 128083
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Partida Aduanera     128084 non-null  int64
 1   Certificado Origen   128084 non-null  object
 2   Departamento_código  128084 non-null  int64
 3   Año                  128084 non-null  int64
 4   Mes#                 128084 non-null  int64
 5   Mes                  128084 non-null  object
dtypes: int64(4), object(2)
memory usage: 5.9+ MB

Información general de df_ica:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4098 entries, 0 to 4097
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nombre del Predio     4098 non-null   object
 1   Departamento          4098 non-null   object
 2   Municipio             4098 non-null   object
 3   Descripcion Especies  4098 non-null   object
 4   Nombre Cientifico     4098 non-null   object
dtypes: object(5)
memory usage: 160.2+ KB

Información general de df:
<class 'pandas.core.frame.DataFrame'>
Index: 545484 entries, 0 to 551725
Data columns (total 9 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Partida Aduanera                    545484 non-null  int64
 1   Descripcion de la Partida Aduanera  545484 non-null  object
 2   Fecha                               545484 non-null  object
 3   Exportador                          545484 non-null  object
 4   Kg Neto                             545484 non-null  float64
 5   U$ FOB Tot                          545484 non-null  float64
 6   Pais de Destino                     545484 non-null  object
 7   Via                                 545484 non-null  object
 8   Ciudad del Exportador               545484 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 41.6+ MB

In [80]:
print("Columns in df_DANE:", df_DANE.columns)
print("\nColumns in df_ica:", df_ica.columns)
print("\nColumns in df:", df.columns)

Columns in df_DANE: Index(['Partida Aduanera', 'Certificado Origen', 'Departamento_código', 'Año',
       'Mes#', 'Mes'],
      dtype='object')

Columns in df_ica: Index(['Nombre del Predio', 'Departamento', 'Municipio',
       'Descripcion Especies', 'Nombre Cientifico'],
      dtype='object')

Columns in df: Index(['Partida Aduanera', 'Descripcion de la Partida Aduanera', 'Fecha',
       'Exportador', 'Kg Neto', 'U$ FOB Tot', 'Pais de Destino', 'Via',
       'Ciudad del Exportador'],
      dtype='object')

In [81]:
# prompt: cambiemos partida aduanera en las dos tablas por tipo object

# Convert 'Partida Aduanera' columns to object type
df_DANE['Partida Aduanera'] = df_DANE['Partida Aduanera'].astype(object)
df['Partida Aduanera'] = df['Partida Aduanera'].astype(object)

In [82]:
# prompt: exportemos los datos como csv

# Export the DataFrame 'df' to a CSV file
df.to_csv('BD_exports_veritrade_Python.csv', index=False, encoding='utf-8-sig')

In [83]:
df_ica.to_csv('BD_ica_Python.csv', index=False, encoding='utf-8-sig')

In [84]:
df_DANE.to_csv('BD_DANE_Python.csv', index=False, encoding='utf-8-sig')

In [86]:
(551726-545484)

6242

In [87]:
(551726-545484)/551726

0.011313586816644494

In [88]:
(551726-545484)/551726*100

1.1313586816644494